<div class="container">
  <ul>
    <li><img class="logo" src="assets/images/logo.png" alt="Logo Image"></li>
    <li><a mat-raised-button routerLink="/Baum">Baum</a></li>
    <li><a mat-raised-button routerLink="/Editor">Editor</a></li>
    <li><a mat-raised-button>Overleaf</a></li>
    <li><a mat-raised-button routerLink="/Import">Import</a></li>
    <li *ngIf="dataImported"><a mat-raised-button (click)="exportData()">Export</a></li>
    <li><a mat-raised-button routerLink="/Einstellungen">Einstellungen</a></li>
  </ul>
</div>
