.container {
  display: flex; /* Display elements horizontally */
}

ul {
  list-style: none; /* Remove default bullets */
}

li {
  display: inline-block;
  margin-right: 10px; /* Add space between the list items */
  vertical-align: middle; /* Align list items vertically */
}

.logo {
  max-width: 100px; /* Adjust the value as per your requirements */
  height: auto; /* To ensure image doesn't get pixelated */
}
