/*.navigation-part {
    width: 500px;
    display: flex;
    flex-direction: column;
  } */
  .navigation-element-container {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
  }
  
  .navigation-element-container.highlighted {
    background-color: rgb(4, 35, 49);
  border: 2px solid red;
  }