<p>editor-part works!</p>
<div class="editor-part">
    <h2>Editor</h2>
    
    <!-- Display a list of editable elements -->
    <div class="element-container">
        <h3>Section 1</h3>
        <p>Section 1 und vorallem ein sehr langer text der dafür da ist zu verstehen und zu prüfen wie und ob der test aus der box
            läuft die ich für jedes element der datei variabel erstelle. das wichtig is vorallem, dass zeilenumbrüche richtig vorhanden sind
            und dass die ganze box sich mitbewegt</p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>

      <div class="element-container">
        <h3>Section 1</h3>
        <p>Section 2 nur sehr kurz</p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>

      <div class="element-container">
        <h3>Section 1</h3>
        <p>Section 1 </p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>

      <div class="element-container">
        <h3>Section 1</h3>
        <p>bild</p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>
      <div class="element-container">
        <h3>Section 1</h3>
        <p>Section 1 und vorallem ein sehr langer text der dafür da ist zu verstehen und zu prüfen wie und ob der test aus der box
            läuft die ich für jedes element der datei variabel erstelle. das wichtig is vorallem, dass zeilenumbrüche richtig vorhanden sind
            und dass die ganze box sich mitbewegt</p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>
      <div class="element-container">
        <h3>Section 1</h3>
        <p>Section 1 und vorallem ein sehr langer text der dafür da ist zu verstehen und zu prüfen wie und ob der test aus der box
            läuft die ich für jedes element der datei variabel erstelle. das wichtig is vorallem, dass zeilenumbrüche richtig vorhanden sind
            und dass die ganze box sich mitbewegt</p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>
      <div class="element-container">
        <h3>Section 1</h3>
        <p>Section 1 und vorallem ein sehr langer text der dafür da ist zu verstehen und zu prüfen wie und ob der test aus der box
            läuft die ich für jedes element der datei variabel erstelle. das wichtig is vorallem, dass zeilenumbrüche richtig vorhanden sind
            und dass die ganze box sich mitbewegt</p>
            <div class="button-container">
                <button class="edit-button">Editieren</button>
                <button class="comment-button">Komentieren</button>
                <button class="summary-button">Zusammenfassen</button>

            </div>
      </div>
      