
.element-container {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 700px;
    position: relative;
    cursor: move;
    background-color: grey;
}
.element-container.highlighted {
  background-color: rgb(4, 35, 49);
  border: 2px solid red;
}

.element-container:hover {
  color: #ffffff; /* Change this to the desired text color */
}

/* Add this style to change the text color of h3 elements when hovering over .element-container */
.element-container:hover h3 {
  color: #ffffff; /* Change this to the desired h3 text color */
}

/* Add this style to change the text color of p elements when hovering over .element-container */
.element-container:hover p {
  color: #ffffff; /* Change this to the desired p text color */
}

.dragging {
  cursor: grabbing;
}


.element-container h3 {
    border-bottom: 1px solid #ccc;
}

.element-container p {
    border-bottom: 1px solid #ccc; 
    margin-bottom: 10px; 
  }

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }



.edit-button {
    background-color: #007bff; 
  color: black; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 3px; 
  margin-right: 10px; 

}

.delete-button {
 
  background-color: #dff803; 
  color: black; 
  padding: 5px 10px; 
  border: none; 
  border-radius: 3px; 
  margin-right: 10px; 

}
.comment-buton {
    background-color: #28a745; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 3px; 
    margin-right: 10px;
}
.summary-button {
    background-color: #ea00ff; 
    color: black; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 3px; 
    margin-right: 10px;
  }
  .child-button {
    background-color:red;
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 3px; 
    margin-left: 10px;

  }
  .parent-button {
    
    background-color: #28a745; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 3px; 
    margin-left: 10px;

  }

  .dragging {
   
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }

 