.editor-part {
  color: var(--primary-text-color);
}

.element-container {
  border: 2px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  cursor: grab;
  background-color: var(--secondary-background-color);
  position: relative;
  padding-left: 140px;
  box-sizing: border-box;
  padding-right: 140px;
  border-radius: 5px; // Modern border radius
  transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition for hover
  color: var(--primary-text-color);

  .section-title {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
  }

  .section-heading {
    font-size: 24px;
    font-weight: bold;
  }

  h3,
  p {
    border-bottom: 1px solid var(--primary-text-color);
    transition: color 0.3s ease; // Smooth transition for hover
  }

}
.drop-area {
  border: #ccc dashed 2px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-top: 15px;
}

.cdk-drag-preview {
  cursor: grabbing !important;
  background-color: var(--secondary-background-color) !important;
  border: 2px dashed var(--accent-color) !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
  opacity: 0.2 !important;
}

.element-container.highlighted {
  background-color: var(--secondary-background-color);
  border: 2px solid var(--accent-color);
}

.element-container:hover {
  color: var(--primary-text-color);
  background-color: rgba(255, 255, 255, 0.1); // Semi-transparent background on hover
}

.button-container {
  display: flex;
  justify-content: space-between;


  button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition for hover

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--accent-color);
      color: var(--primary-text-color);
    }
  }
}

.edit-button,
.stop-edit-button {
  background-color: #007bff;
  color: var(--primary-text-color);
}

.delete-button {
  background-color: var(--danger-color);
  color: var(--primary-text-color);
}

mat-icon {
  vertical-align: middle;
  margin-right: 5px;
  color: var(--primary-text-color) !important;
}

.comment-button {
  background-color: #28a745;
  color: var(--primary-text-color);
}

.summary-button {
  background-color: #ea00ff;
  color: var(--primary-text-color);
}

.child-button,
.parent-button {
  width: 75px;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  z-index: 1;

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
  }
}

.child-button {
  right: 0;
  background-color: var(--danger-color);
  margin-right: 10px;
}

.parent-button {
  left: 0;
  background-color: var(--success-color);
  margin-left: 10px;
}
/*
.invisible-preview {
  display: none;
}

.invisible-placeholder {
   Make the placeholder visible during drag 
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px dashed rgba(0, 0, 0, 0.5);
  min-height: 40px;
  /* Set an appropriate height */
  width: 100%;
}

.type-section {
  font-weight: bold;
  color: var(--accent-color);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.element-content {
  display: flex;
  flex-direction: column;
  gap: 10px; // For consistent spacing between sections

  .info-section {
    background-color: rgba(0, 0, 0, 0.03); // Light background for better distinction
    padding: 10px;
    border-radius: 5px;

    .info-header {
      font-weight: bold;
      margin-bottom: 5px; // Spacing between header and content
      color: var(--accent-color);
    }
  }
}

.text-editor-section {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.05); // Slight background for distinction
  padding: 10px;
  border-radius: 5px;

  .section-heading {
    font-size: 20px; // A slight reduction for better UX
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px; // Spacing after heading
  }
}