.element-container {
  display: inline-block;
  border: 1px solid var(--secondary-text-color);
  padding: 10px;
  margin-bottom: 20px;
  width: 500px;
  position: relative;
  cursor: move;
  background-color: var(--secondary-background-color);
  position: relative;
  padding-left: 140px; 
  padding-right: 140px;
  border-radius: 5px; // Modern border radius
  transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition for hover
  color: var(--primary-text-color);

  h3, p {
    border-bottom: 1px solid var(--primary-text-color);
    transition: color 0.3s ease; // Smooth transition for hover
  }
}

.element-container.highlighted {
  background-color: var(--secondary-background-color);
  border: 2px solid var(--accent-color);
}

.element-container:hover {
  color: var(--primary-text-color); 
  background-color: rgba(255, 255, 255, 0.1); // Semi-transparent background on hover
}

.marked-element {
  background-color: rgb(38, 0, 255);
  outline: 2px solid #0054dc;
}

.dragging {
  cursor: grabbing;
  background-color: #f0f0f0;
  border: 1px dashed var(--secondary-text-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;

  button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; // Smooth transition for hover

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: var(--accent-color);
      color: var(--primary-text-color);
    }
  }
}

.edit-button {
  background-color: #007bff;
  color: var(--primary-text-color);
}

.delete-button {
  background-color: #dff803;
  color: var(--primary-text-color);
}

.comment-button { // Fixed typo: "comment-buton" -> "comment-button"
  background-color: #28a745;
  color: var(--primary-text-color);
}

.summary-button {
  background-color: #ea00ff;
  color: var(--primary-text-color);
}

.child-button, .parent-button {
  width: 75px;
  height: 100%; 
  position: absolute;
  top: 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  z-index: 1;

  &:hover {
    background-color: var(--accent-color);
  }
}

.child-button {
  right: 0;
  background-color: red;
  margin-right: 10px;
}

.parent-button {
  left: 0;
  background-color: #28a745;
  margin-left: 10px;
}

