.summary-popup{
    position: fixed;
    font-size: small;
    top: 150px;
    left: 10px;
    padding: 12px;
    background: rgb(57, 112, 46);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}