
.editor-view {
  display: flex;

  height: 100vh;
}

.navigation-part {
  flex: 0 0 30%;
  overflow-y: auto;
  height: 100%;
  margin-right: 0px; 
}



.editor-part {
  flex: 1 1 70%;
  overflow-y: auto;
  padding: 10px;
  height: 1000px;
}

