:host {
  height: 100vh !important;
}

.editor-view {
  display: flex;
  height: 85vh;
}

.navigation-part {
  flex: 0 0 30%;
  overflow-y: auto;
  height: 100%;
  margin-right: 0px;
}

.editor-part {
  flex: 1 1 70%;
  overflow-y: auto;
  padding-left: 10px;
  height: 100%;
  /* Ensure that editor-part takes full height */
}
