<app-header></app-header>

<!--
<div>
    <button class= "collapseButton">Baum einklappen/ausklappen</button>
</div> -->

<ejs-diagram #diagramComponent
width = "100%" height = "850px" 
[dataSourceSettings] = "jsonDatasourceSettings"
[layout] = "layoutSettings"
[getNodeDefaults] = "getNodeDefaults"
[getConnectorDefaults] = "getConnectorDefaults"
[snapSettings] = "RemoveGridLines"
(drop) = "drop($event)" 
(mouseOver) = "onNodeHover($event)"
(doubleClick)= "doubleClick($event)">
</ejs-diagram>

<app-summary></app-summary>
<app-error-popup></app-error-popup>