.collapseButton {
    margin-top: 3em;
    margin-left:10em;
    //margin-bottom: 10em;
    color: red;
}

.tree{
    margin-right: 10em;
}

.custom-node {
    width: 100px;
    height: 60px;
    background-color: red;
    border: 1px solid black;
}


