.collapseButton {
    margin-top: 1em;
    margin-left:6em;
    //margin-bottom: 10em;
    position: fixed;
    color: black;
    z-index: 2;
}

.tree{
    margin-right: 10em;
}

.custom-node {
    width: 100px;
    height: 60px;
    background-color: red;
    border: 1px solid black;
}


