
.text-editor-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: none; // Disables manual resizing by the user
  overflow-y: hidden; // Prevents vertical scrollbar
  min-height: 50px; // Minimum height (You can adjust this)
  max-height: 300px; // Maximum height (You can adjust this)
  height: auto; // Start with auto height
  box-sizing: content-box; // So padding doesn't affect the final computed height
  width: 100%; // Width of the textarea
  padding: 10px;  /* Add some padding to the textarea for better appearance */
  border: 1px solid var(--accent-color);  /* Add a single border around the textarea */
  border-radius: 8px;  /* Rounded corners */
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-size: 16px; /* Increase font size for better readability */
  line-height: 1.4; /* Spacing between lines of text */

  /* Box shadow for a subtle depth effect */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  /* Transitions for smooth visual effects */
  transition: box-shadow 0.2s, background-color 0.2s;

  /* Placeholder styles */
  ::placeholder {
    color: var(--secondary-text-color);
  }

  /* On focus styles for interactivity */
  &:focus {
    background-color: var(--secondary-background-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    outline: none; /* Remove default browser outline */
  }

  /* Optional: You can have an effect on hover too */
  &:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  }
}