
.text-editor-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  height: 400%;
  box-sizing: border-box;
}