:host {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display: block;
}

.settings-element {
  margin: 8px;
}

h2 {
  margin-left: 8px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); // semi-transparent background
  z-index: 1000; // Ensuring it appears above other elements
}

mat-spinner {
  color: var(--primary-text-color); // Adjust if you want a different color
}
