@use "@angular/material" as mat;

@include mat.core();

.highlighted {
  /* the highlight for the elements in the editorview */
  border: 2px solid blue;
}

// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette),
        accent: mat.define-palette(mat.$blue-grey-palette),
      ),
      // Only include `typography` and `density` in the default dark theme.
      typography: mat.define-typography-config(),
      density: 0,
    ));

// Define a light theme
$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$indigo-palette),
        accent: mat.define-palette(mat.$pink-palette),
      ),
    ));

.dark-theme {
  /* Default to dark theme */
  --primary-text-color: white;
  --secondary-text-color: #aaa;
  --background-color: #303030;
  --secondary-background-color: #424242;
  --accent-color: #d63864;
  --danger-color: #e3342f;
  --success-color: #38c172;
  /* ... add more as needed ... */
}

.light-theme {
  --primary-text-color: black;
  --secondary-text-color: #555;
  --background-color: #ffffff;
  --secondary-background-color: #e8edf0;
  --accent-color: #d63864;
  --danger-color: #ff4d4d;
  --success-color: #4caf50;
  /* ... add more as needed ... */
}

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

// Add classes for light and dark themes.
.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}


/* You can add global styles to this file, and also import other style files */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
}

.theme-wrapper {
  min-height: 100vh;
  background-color: var(--background-color);
}

app-settings {
  display: none; // This will make sure the settings modal is initially hidden
}