<div class="settings-overlay" (click)="closeSettings()"></div>
<div class="settings-container">
  <h2>Benutzereinstellungen</h2>

  <!-- Normal Settings -->
  <div mat-card class="margin-element">
    <section class="setting">
      <mat-form-field appearance="fill">
        <mat-label>Thema</mat-label>
        <mat-select [(value)]="settings.theme" (selectionChange)="updateSettings()">
          <mat-option value="light">Hell</mat-option>
          <mat-option value="dark">Dunkel</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.deleteCascading" (change)="updateSettings()">
        Kaskadierendes Löschen
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideComments" (change)="updateSettings()">
        Kommentare ausblenden
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideSummaries" (change)="updateSettings()">
        Zusammenfassungen ausblenden
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.exportComment" (change)="updateSettings()">
        Kommentare exportieren
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.exportSummary" (change)="updateSettings()">
        Zusammenfassungen exportieren
      </mat-checkbox>
    </section>
  </div>

  <mat-divider></mat-divider>

  <!-- Advanced Settings Toggle -->
  <div mat-card class="margin-element advanced-settings-toggle">
    <button class="advanced-settings-button" (click)="settings.showAdvancedSettings = !settings.showAdvancedSettings">
      <span>Erweiterte Einstellungen</span> <!-- Wrapped text in a span -->
      <mat-icon>visibility{{settings.showAdvancedSettings ? '' : '_off'}}</mat-icon>
    </button>
  </div>



  <!-- Advanced Settings -->
  <div *ngIf="settings.showAdvancedSettings">

    <p class="portWarn">Nach Änderung des Hosting Ports muss TreeX neu gestartet werden.</p>
    <div mat-card class="margin-element">
      <section class="setting">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Hosting Port</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="tempHostingPort"
            title="Der lokale port auf dem Rechner, auf dem das Frontend gehostet wird">
          <button matSuffix mat-icon-button
            aria-label="Der lokale port auf dem Rechner, auf dem das Frontend gehostet wird."
            (click)="updateSettings()">
            <mat-icon>check</mat-icon>
          </button>
        </mat-form-field>
      </section>
    </div>

    <div mat-card class="margin-element">
      <section class="setting">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Fehleranzeige (Sek.)</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="tempPopupDuration" title="Dauer der Anzeige von Fehlern">
          <button matSuffix mat-icon-button aria-label="Dauer der Anzeige von Fehlern." (click)="updateSettings()">
            <mat-icon>check</mat-icon>
          </button>
        </mat-form-field>
      </section>
    </div>

  </div>
</div>