<div class="settings-overlay" (click)="closeSettings()"></div>
<div class="settings-container">
  <h2>Benutzereinstellungen</h2>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-form-field appearance="fill">
        <mat-label>Thema</mat-label>
        <mat-select [(value)]="settings.theme" (selectionChange)="updateSettings()">
          <mat-option value="light">Hell</mat-option>
          <mat-option value="dark">Dunkel</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideLeavesTree" (change)="updateSettings()">
        Blätter im Baum ausblenden
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.deleteCascading" (change)="updateSettings()">
        Kaskadierendes Löschen
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideComments" (change)="updateSettings()">
        Kommentare ausblenden
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideSummaries" (change)="updateSettings()">
        Zusammenfassungen ausblenden
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.exportComment" (change)="updateSettings()">
        Kommentare exportieren
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.exportSummary" (change)="updateSettings()">
        Zusammenfassungen exportieren
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Popup-Dauer (Sek.)</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="settings.popupDuration" title="test">
        <button *ngIf="settings.popupDuration" matSuffix mat-icon-button aria-label="Submit" (click)="updateSettings()">
          <mat-icon>check</mat-icon>
        </button>
      </mat-form-field>
    </section>
  </div>
</div>