:host {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px !important; // Adjust this value to increase/decrease spacing

  &.mat-form-field-underline .mat-form-field-ripple {
    background-color: #fff !important; // White underline
  }
}

.mat-checkbox {
  width: 100%;
  max-width: 300px;
  margin-bottom: 200px !important; // Adjust this value to increase/decrease spacing
}

.settings-container {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  margin: auto;
}

.margin-element.mat-card {
  margin-bottom: 20px;
}

.mat-icon  {
  color: var(--accent-color) !important; // White background
}