<div class="settings-overlay" (click)="closeSettings()"></div>
<div class="settings-container">
  <h2>User Settings</h2>

 
  <div mat-card class="margin-element">
    <section class="setting">
      <mat-form-field appearance="fill">
        <mat-label>Theme</mat-label>
        <mat-select [(value)]="settings.theme" (selectionChange)="updateSettings()">
          <mat-option value="light">Light</mat-option>
          <mat-option value="dark">Dark</mat-option>
        </mat-select>
      </mat-form-field>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideLeavesTree" (change)="updateSettings()">
        Hide Leaves in Tree
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.deleteCascading" (change)="updateSettings()">
        Delete Cascading
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideComments" (change)="updateSettings()">
        Hide Comments
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.hideSummaries" (change)="updateSettings()">
        Hide Summaries
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.exportComment" (change)="updateSettings()">
        Export Comments
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-checkbox [(ngModel)]="settings.exportSummary" (change)="updateSettings()">
        Export Summaries
      </mat-checkbox>
    </section>
  </div>

  <div mat-card class="margin-element">
    <section class="setting">
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Popup Duration (sec)</mat-label>
        <input matInput type="number" min="0" [(ngModel)]="settings.popupDuration" title="test">
        <button *ngIf="settings.popupDuration" matSuffix mat-icon-button aria-label="Submit" (click)="updateSettings()">
          <mat-icon>check</mat-icon>
        </button>
      </mat-form-field>
    </section>
  </div>
</div>