:host {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  width: 100%;
}

h2 {
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px !important; // Adjust this value to increase/decrease spacing

  &.mat-form-field-underline .mat-form-field-ripple {
    background-color: #fff !important; // White underline
  }
}

.mat-checkbox {
  width: 100%;
  max-width: 300px;
  margin-bottom: 200px !important; // Adjust this value to increase/decrease spacing
}

.settings-container {
  color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  position: fixed; // changed from absolute to fixed to make it centered in the viewport
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // Center the popup
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px; // Rounded corners
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); // Soft shadow effect

  // Optional: Add a slight transition for a smoother appearance if toggled.
  transition: all 0.3s ease-out;
}

// Overlay that sits behind the popup to focus on it.
.settings-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Semi-transparent black
  //z-index:  // Ensure it's below the popup but above other page contents
}

.margin-element.mat-card {
  margin-bottom: 20px;
}

.mat-icon {
  color: var(--accent-color) !important; // White background
}